@media (max-width: 768px){
    /*NavBar*/
    nav ul li {
        margin: 0 5px; 
        z-index: 100;
    }
    nav ul li a{
        text-decoration: none;
        color: #fff; /* Text color */
        font-weight: bold;
        font-size: 18px;
    }
    
    /*Home*/
    #home {
        display: block;
        padding-bottom: 80px;
    }
    .image-container {
        display: block; 
        text-align: center; 
        padding: 20px; 
    }
    .small-image {
        max-width: 50%; 
        margin: 0 auto; 
        display: block;
        margin-top: 70px;
    }
    .text-content {
        padding: 20px; 
        text-align: center; 
        font-size: 24px; 
    }
    .text-content p {
        font-weight: bold;
        color: orange;
    }
    /*Home end*/

    /*About me*/
    #about {
        display: flex;
        flex-direction: column;
        text-align: center;
        border-radius: 10px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        padding: 90px;/* Add padding to create space around the content */
        
    }
    .headings {
        font-size: 36px;
        text-align: center;
    }
    .about-text-content {
        max-width: 700px;
    }
    .about-text-content p {
        font-size: 32px;
        margin: 10px 0;
    }    

    /*Skills*/
    #skills{
        display: flex;
        flex-direction: column;
        text-align: center;
        border-radius: 10px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        padding: 60px;
        font-size: 28px;
    }
    .header, .text {
        text-align: center; 
        font-size: 32px; 
    }
    
    .image-grid {
        grid-template-columns: 1fr;
        justify-content: center;
        margin: 0; 
    }
    .skills-image {
        width: 300px; 
        border: 2px solid black;
        margin: 0 auto;
    }
    .skills-image img {
        width: 250px; 
        height: 250px; 
    }
    .skills-image:hover img {
        transform: scale(1.2); 
    }
    
    .skills-text p {
        font-size: 30px; 
    }
    .skills-image:hover .skills-text {
        bottom: 0; 
    }

}