@media (max-width: 768px){
    /*NavBar*/
    nav ul li {
        margin: 0 7px; 
    }
    
    /*Home*/
    #home {
        display: block;
    }
    .image-container {
        display: block; 
        text-align: center; 
        padding: 20px; 
    }
    .small-image {
        max-width: 50%; 
        margin: 0 auto; 
        display: block; /
    }
    .text-content {
        padding: 20px; 
        text-align: center; 
        font-size: 24px; 
    }
    .text-content p {
        font-weight: bold;
        color: orange;
    }
    /*Home end*/

    /*Skills*/
    .header, .text {
        text-align: center; 
        font-size: 24px; 
    }
    
    .image-grid {
        grid-template-columns: 1fr;
        justify-content: center;
        margin: 0; 
    }
    .skills-image {
        width: 300px; 
        border: 2px solid black;
        margin: 0 auto;
    }
    .skills-image img {
        width: 250px; 
        height: 250px; 
    }
    .skills-image:hover img {
        transform: scale(1.2); 
    }
    
    .skills-text p {
        font-size: 30px; 
    }
    .skills-image:hover .skills-text {
        bottom: 0; 
    }
    
}